<div class="col-xs-6" >
  <%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, :class => "form-control" %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name, :class => "form-control" %>
  <%= f.label :zipcode %>
  <%= f.number_field :zipcode, :class => "form-control" %>
  <%= f.label :bio %>
  <%= f.text_area :bio, :class => "form-control" %>
  <h5>Gender:</h5>
  <%= f.radio_button :gender, "female" %>
  <%= f.label :female %>
  <%= f.radio_button :gender, "male" %>
  <%= f.label :male %>
  <%= f.radio_button :gender, "other"  %>
  <%= f.label :other %><br>
  <%= f.label :email %>
  <%= f.text_field :email, :class => "form-control" %>
  <%= f.label :photo %>
  <%= f.text_field :photo, :class => "form-control" %>
  <%= f.label :password %>
  <%= f.text_field :password, :class => "form-control" %>
  <%= f.submit 'Submit', :class => "btn btn-default"%>
  <% end %>
</div>
