<%= image_tag @user.photo %>
<h2><%= @user.first_name%> <%= @user.last_name%></h2>
<h5><%= @user.bio %></h5>


<p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
<p><%= link_to 'Delete Profile', user_path(@user), :data => {:confirm => "Are you sure you want to delete your profile?", :method => "delete"} %></p>
