
  <%= image_tag current_user.avatar, :class => "profile_picture"%>

<h2><%= current_user.first_name%> <%= current_user.last_name%></h2>
<h5><%= current_user.bio %></h5>


<p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
<p><%= link_to 'Delete Profile', user_path(@user), :data => {:confirm => "Are you sure you want to delete your profile?", :method => "delete"} %></p>
